
<%= link_to 'new', new_menu_path %>
<% @menus.each do |menu| %>
    
     <table>
        <tr>
            <td>  
                <%= link_to menu.name, menu_path(menu) %>
            </td>
            <td>
               <%= menu.total_distance %>
            </td>
        </tr>
    </table>

    
<% end %>
<%= line_chart @menu_date %>
